/* flex */
@mixin flex-row($justify:space-between, $align: center) {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify:space-between, $align: center) {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}