/* flex */
@mixin flex-row($justify:space-between, $align: center) {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify:space-between, $align: center) {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

/* Input */
@mixin input-border-bgd() {
  background-image: linear-gradient(#6dc5ea, #ec008c);
  border-radius: 20px;
}

@mixin over-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* icon */
@mixin input-icon($margin: 0) {
  font-size: 24px;
  background-image: linear-gradient( #ff97d5, #ec008c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: $margin;
}

@mixin blue-icon($margin: 0) {
  font-size: 24px;
  color: #6685FB;
  background-image: -moz-linear-gradient( 176deg, rgb(64,233,245) 0%, rgb(102,133,251) 52%, rgb(116,96,253) 75%, rgb(124,74,255) 99%);
  background-image: -webkit-linear-gradient( 176deg, rgb(64,233,245) 0%, rgb(102,133,251) 52%, rgb(116,96,253) 75%, rgb(124,74,255) 99%);
  background-image: -ms-linear-gradient( 176deg, rgb(64,233,245) 0%, rgb(102,133,251) 52%, rgb(116,96,253) 75%, rgb(124,74,255) 99%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: $margin;
}

@mixin kefu-icon($margin: 0) {
  background-image: -moz-linear-gradient( 3deg, rgb(52,140,247) 0%, rgb(236,6,143) 99%);
  background-image: -webkit-linear-gradient( 3deg, rgb(52,140,247) 0%, rgb(236,6,143) 99%);
  background-image: -ms-linear-gradient( 3deg, rgb(52,140,247) 0%, rgb(236,6,143) 99%);
  color: #6685FB;
  font-size: 24px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: $margin;
}

@mixin btn-active-red {
  color: #ffffff;
  background-image: -moz-linear-gradient( 25deg, rgb(255, 126, 203) 0%, rgb(192, 54, 155) 99%);
  background-image: -webkit-linear-gradient( 25deg, rgb(255, 126, 203) 0%, rgb(192, 54, 155) 99%);
  background-image: -ms-linear-gradient( 25deg, rgb(255, 126, 203) 0%, rgb(192, 54, 155) 99%);
}

@mixin btn-active-blue {
  color: #ffffff;
  background-image: -moz-linear-gradient(35deg, rgb(71, 201, 255) 0%, rgb(85, 137, 255) 99%);
  background-image: -webkit-linear-gradient(35deg, rgb(71, 201, 255) 0%, rgb(85, 137, 255) 99%);
  background-image: -ms-linear-gradient(35deg, rgb(71, 201, 255) 0%, rgb(85, 137, 255) 99%);
}

@mixin blue-gradient {
  background-image: -moz-linear-gradient(0deg, rgb(121, 82, 254) 0%, rgb(78, 195, 247) 100%);
  background-image: -webkit-linear-gradient(0deg, rgb(121, 82, 254) 0%, rgb(78, 195, 247) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(121, 82, 254) 0%, rgb(78, 195, 247) 100%);
}

@mixin red-gradient {
  background-image: -moz-linear-gradient( 115deg, rgb(71,201,255) 0%, rgb(8,82,249) 99%);
  background-image: -webkit-linear-gradient( 115deg, rgb(71,201,255) 0%, rgb(8,82,249) 99%);
  background-image: -ms-linear-gradient( 115deg, rgb(71,201,255) 0%, rgb(8,82,249) 99%);
}

@mixin blue-gradiennt2 {
  background-image: -moz-linear-gradient( 176deg, rgb(64,233,245) 0%, rgb(102,133,251) 52%, rgb(116,96,253) 75%, rgb(124,74,255) 99%);
  background-image: -webkit-linear-gradient( 176deg, rgb(64,233,245) 0%, rgb(102,133,251) 52%, rgb(116,96,253) 75%, rgb(124,74,255) 99%);
  background-image: -ms-linear-gradient( 176deg, rgb(64,233,245) 0%, rgb(102,133,251) 52%, rgb(116,96,253) 75%, rgb(124,74,255) 99%);
}

@mixin blue-gradiennt3 {
  background-image: -moz-linear-gradient( 0deg, rgb(91,239,225) 0%, rgb(105,132,238) 50%, rgb(195,114,230) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(91,239,225) 0%, rgb(105,132,238) 50%, rgb(195,114,230) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(91,239,225) 0%, rgb(105,132,238) 50%, rgb(195,114,230) 100%);
}

@mixin blue-gradiennt4 {
  background-image: -moz-linear-gradient( -115deg, rgba(91,239,225,.7) 0%, rgba(105,132,238,.7) 50%, rgba(195,114,230,.7) 100%);
  background-image: -webkit-linear-gradient( -115deg, rgba(91,239,225,.7) 0%, rgba(105,132,238,.7) 50%, rgba(195,114,230,.7) 100%);
  background-image: -ms-linear-gradient( -115deg, rgba(91,239,225,.7) 0%, rgba(105,132,238,.7) 50%, rgba(195,114,230,.7) 100%);
}

