html {
  font-family: "Microsoft YaHei UI" !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 50px;
  height:100%;
}

body {
  font-size: 12px !important;
  margin: 0 !important;
  line-height: 1.5;
  color: #333;
  background-color: #f2f2f2;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-weight: 400;
}
html,body{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc;
}

a:active {
  outline: 0;
}

a:active {
  color: #006699;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border: none;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input:focus {
  outline: none;
  border: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}

ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none outside none;
}

h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.mint-cell-wrapper {
  background-image: none !important;
}

.lm-container {
  position: fixed;
  width: 375px;
  height: 100%;
  top: 0;
  box-shadow:-3px 0 8px -4px #999;
  padding-top: $header-height;
}

.lm-container-blank {
  position: fixed;
  width: 375px;
  height: 100%;
  top: 0;
  box-shadow:-3px 0 8px -4px #999;
}
input:disabled{
  background: none;
  color:#ACA899;
}
input[disabled] {
  background: none;
  color:#ACA899;
}
* html input.disabled{
  border: 1px solid #DDD;
  background-color: #F5F5F5;
  color:#ACA899;opacity: 1;
}
/* 弹出 */
.mint-popup{
  width: 100%;
  min-height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
}

.nut-textinput input {
  font-size: 12px !important;
  padding: 0 0 0 10px !important;
}

.mint-button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.mint-button--default {
  background-image: -moz-linear-gradient( 176deg, rgb(64,233,245) 0%, rgb(102,133,251) 52%, rgb(116,96,253) 75%, rgb(124,74,255) 99%);
  background-image: -webkit-linear-gradient( 176deg, rgb(64,233,245) 0%, rgb(102,133,251) 52%, rgb(116,96,253) 75%, rgb(124,74,255) 99%);
  background-image: -ms-linear-gradient( 176deg, rgb(64,233,245) 0%, rgb(102,133,251) 52%, rgb(116,96,253) 75%, rgb(124,74,255) 99%);
  color: #fff !important;
  font-size: 14px !important;
  width: 100% !important;
  height: 100% !important;
}

.nut-actionsheet-cancel {
  height: 44px !important;
  color: #5475E5 !important;
}
//.hot-sale-top {
//  .nut-swiper {
//    height: 30px !important;
//  }
//}
.nut-swiper {
  height: 100% !important;
}

.color-light {
  color: $color-light !important;
}

.color-middle {
  color: $color-middle !important;
}

.color-deep {
  color: $color-deep !important;
}


/*按钮点击*/
.handle-btn, .handle-btn-light {
  position: relative;
  overflow: hidden;
}
.handle-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0,0,0,.2);
}

.handle-btn-light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background: rgba(255,255,255,.2);
}

@keyframes slideOut1 {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideRight-enter-active, .slideIn1,
.slideRight-leave-active, .slideOut1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
.font-14 {font-size: 14px;}
.font-16 {font-size: 16px;}
.font-18 {font-size: 18px;}
.button-span {letter-spacing: 10px;font-size: 18px;}

.zfb-icon {
  color: #1293d7;
}
.wx-icon {
  color: #40ba49;
}

.nut-actionsheet-menu>.nut-actionsheet-item {
  height: 44px !important;
}
.nut-imagepicker .img-list {
  display: flex !important;
}
.nut-textinput-disabled input {
  background: #fff !important;
}