/* Input */
$input-height: 35px;

/* Border */
$input-radius: 20px;

/*color*/
$err-color: #ff0018;
$red-color: #ec008c;
$gradient-color: linear-gradient(#6dc5ea, #ec008c);
$button-border-color: #62c1e9;
  /* 分割线 颜色*/
$line-deep: #ccc;
$line-light: #E5E5E5;
