/* header */
$header-height: 44px;
$header-height-2: 146px;
/* Input */
$input-height: 35px;
/* cell */
$cell-height: 40px;
$large-cell-height: 50px;
/* Border */
$input-radius: 20px;

/*color*/
$font-black-color: #424242;
$bgd-color: #f2f2f2;
$font-red-color: #FF2B5B;
$err-color: #ff0018;
$red-color: #ec008c;
$blue-color: #41affc;
$blue-color-link: #5f8eee;
$gradient-color: linear-gradient(#6dc5ea, #ec008c);
$button-border-color: #62c1e9;
$blue: #1376FD;


$color-deep: #333;
$color-middle: #666;
$color-light: #999;
  /* 分割线 颜色*/
$line-deep: #ccc;
$line-light: #E5E5E5;
