/* header */
$header-height: 44px;
/* Input */
$input-height: 35px;
/* cell */
$cell-height: 40px;
/* Border */
$input-radius: 20px;

/*color*/
$bgd-color: #f2f2f2;
$font-red-color: #FF2B5B;
$err-color: #ff0018;
$red-color: #ec008c;
$blue-color: #41affc;
$blue-color-link: #5f8eee;
$gradient-color: linear-gradient(#6dc5ea, #ec008c);
$button-border-color: #62c1e9;
  /* 分割线 颜色*/
$line-deep: #ccc;
$line-light: #E5E5E5;
